registry=https://registry.npmmirror.com/
sass_binary_site=https://mirrors.huaweicloud.com/node-sass/
phantomjs_cdnurl=https://repo.huaweicloud.com/phantomjs/
sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3/
chromedriver_cdnurl=https://mirrors.huaweicloud.com/chromedriver/
puppeteer-download-base-url=https://registry.npmmirror.com/-/binary/chrome-for-testing
puppeteer-download-host=https://registry.npmmirror.com/binary.html?path=chrome-for-testing/
electron_mirror=https://mirrors.huaweicloud.com/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
NVM_NODEJS_ORG_MIRROR=https://repo.huaweicloud.com/nodejs/
